#card{
    background-color: #313945;
    margin: 1rem;
    width: 620px;
    max-width: 620px;
    max-height: max-content;
    padding: auto;
   
   
}

#titulo{
    color:#FFA900;
    font: 2.2em sans-serif;
}
#descripcion{
    color: white;
}
#fecha{
    color: #FFA900;
    font-size: 0.8rem;
    
}
#btn{

    align-self: flex-end;
}
#tittle{
    text-align: center;
}

#fondo{
    background-color:#313945 ;
}